<!--This is a template for HTML code!-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="styles.css"/>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Here is a nice color change!</h1>
      </header>

      <div class="switch-container">
        <label class="switch">
          <input type="checkbox" id="toggle">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>