* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease; /* Smooth gradient transition */
}
.container {
  max-width: 800px;
  background: #fffa9d;
  padding: 50px;
  margin: 50px;
  border-radius: 50px;
}

.switch { /*Box around the slider*/
  position: relative; 
  display: inline-block;
  width: 60px; 
  height: 34px; 
}

.switch input { /*Hides default HTML checkbox*/
  opacity: 0; 
  width: 0; 
  height: 0; 
}

.slider {
  position: absolute;
  cursor: pointer; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  background-color: #ffb85a; 
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before { /*Before the toggle happens*/
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(238, 255, 2);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider { /*Value after the toggle is activated*/
  background-color: #2196F3;
}

input:focus + .slider { /*Matches the toggle*/
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before { /*Causes toggle to move from left to right*/
  transform: translateX(26px);
}

/*Style for round toggle*/
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}