*{
  box-sizing: border-box;
  max-width: 1000px;
}

html{
  margin: auto;
  padding: auto;
  background: url("https://i.pinimg.com/736x/f8/50/2f/f8502f196099337ebcbe361faf8a4de4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  background-color: #ffcccc;
  border: 5px solid #cc0000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 80%; 
}

