<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Sliders</title>
    <link rel="stylesheet" href="styles.css"/>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Click on the slider to see a color change!</h1>
      </header>

      <div class="slider-container">
        <input type="range" min="0" max="100" value="0" class="slider" id="slider"> 
      </div>
    </div>

    <script src="script.js"></script> <!--Link to JS code-->

  </body>
</html>